language: objective-c
osx_image: xcode10
env:
  - SWIFT_VERSION=4.0
install:
  - bundle install
  - brew outdated carthage || brew upgrade carthage
before_script:
  - bundle exec pod lib lint --allow-warnings
  - carthage build --verbose --no-skip-current
script:
  - xcodebuild -project MagazineLayout.xcodeproj -scheme MagazineLayout -sdk iphonesimulator -destination "platform=iOS Simulator,OS=12.0,name=iPhone XS" -configuration Debug -PBXBuildsContinueAfterErrors=0 SWIFT_VERSION=$SWIFT_VERSION build test
  - xcodebuild -project MagazineLayout.xcodeproj -scheme MagazineLayout -sdk appletvsimulator -destination "platform=tvOS Simulator,OS=12.0,name=Apple TV" -configuration Debug -PBXBuildsContinueAfterErrors=0 SWIFT_VERSION=$SWIFT_VERSION build test
